@import '../node_modules/normalize.css/normalize.css';
@import '../dist/font/st2flow-embedded.css';

html, body, main {
  height: 100%;
  overflow: hidden;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

main {
  display: flex;
}


.st2-palette {
  width: 240px;
  max-height: 100%;
  z-index: 1;

  background-color: #191f23;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--hide {
    display: none;
  }

  &__search {
    padding: 10px;

    &-field[type="search"] {
      width: 100%;
      height: 26px;

      box-sizing: border-box;

      border-radius: 13px;
      border: 0;
      outline: 0;

      padding: 2px 10px;

      font-size: 12px
    }
  }

  &__action {
    cursor: pointer;
    padding: 5px;
    background-color: #191f23;
    color: #90d5fc;
    font-size: 12px;
    user-select: none;

    &:hover {
      background-color: color(#191f23 lightness(+10%));
    }

    &-name {
      font-weight: bold;
    }

    &-description {
      font-size: 0.9em;
    }
  }

  &__pack {
    &-header {
      display: flex;
      background-color: #647888;
      user-select: none;
    }

    &-icon {
      display: block;
      padding: 5px;
      box-sizing: content-box;
      width: 32px;
      height: 32px;
      background-color: #fff;
    }

    &-name {
      flex: 1;
      line-height: 22px;
      color: #fff;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.st2-container {
  flex: 1;

  height: 100%;

  position: relative;
}

.st2-controls {
  &__button {
    width: 32px;
    line-height: 32px;
    background-color: rgba(0,0,0,.5);
    color: #eee;
    margin: 5px;
    border-radius: 16px;
    text-align: center;
    display: inline-block;
    user-select: none;
    cursor: pointer;

    &--active {
      color: #90d5fc;
    }
  }

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.st2-viewer {
  height: 100%;

  background-color: #444;

  position: relative;
  overflow: auto;

  cursor: grab;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 1px #90d5fc;
  }

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--grabbing {
    cursor: grabbing;
  }

  &--active {
    background-color:#444;
    background-image: linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size:50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
  }

  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
  }

  &__canvas {
    position: absolute;

    padding: 42px 10px 10px;

    box-sizing: border-box;
  }

  &__node {
    cursor: pointer;
    background-color: #191f23;
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    min-width: 140px;
    max-width: 200px;
    height: 42px;

    display: flex;

    & > * {
      pointer-events: none;
    }

    &-icon {
      padding: 5px;
      box-sizing: content-box;
      width: 32px;
      background-color: #fff;

    }

    &-content {
      flex: 1;
      padding: 5px 5px 5px 10px;
    }

    &-actions {
      width: 24px;

      line-height: 21px;
      text-align: center;

      cursor: pointer;

      color: transparent;
    }

    &--selected &-actions {
      color: inherit;
      pointer-events: all;
    }

    &-name {
      font-style: italic;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: transparent;
      box-sizing: border-box;
      border: 0;
      padding: 3px;
      margin: -3px;
      outline: 0;
      width: 100%;

      &:focus {
        background: #ddd;
      }
    }

    &-ref {
      color: #90d5fc;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--selected &-ref {
      color: #46b9fa;
    }

    &-buttons {
      position: absolute;
      top: 42px;
      left: 0;
      right: 0;
      display: none;
      padding: 5px 0;
      text-align: center;
      font-size: 11px;
    }

    &--selected &-buttons,
    &:hover &-buttons {
      pointer-events: all;
      display: block;
    }

    &-button {
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      background-color: white;
      color: black;
      pointer-events: auto;
      border: 1px solid;

      &.st2-icon__success {
        color: #0a0;
        border-color: #0a0;
      }
      &.st2-icon__error {
        color: #a00;
        border-color: #a00;
      }
      &.st2-icon__complete {
        color: #aa0;
        border-color: #aa0;
      }
    }

    &--active {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
    }

    &--dragged {
      /*pointer-events: none;*/
    }

    &--selected {
      background-color: #eee;
      color: #222;
    }
  }

  &__edge {
    &-path {
      stroke-width: 1.5px;
      stroke: white;
      fill: none;
    }

    &--complete path {
      stroke: #aa0;
      fill: #aa0;
    }

    &--success path {
      stroke: #0a0;
      fill: #0a0;
    }

    &--error path {
      stroke: #a00;
      fill: #a00;
    }
  }

  &__label {
    position: absolute;

    &:before {
      display: block;

      margin: -50%;
      border-radius: 50%;
      background-color: white;
      border: 2px solid;

      font-family: "st2flow";
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      text-align: center;
      speak: none;

      width: 15px;
      line-height: 15px;

      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
    }

    &--success:before {
      content: '\e803';
      color: #0a0;
      border-color: #0a0;
    }
    &--error:before {
      content: '\e804';
      color: #a00;
      border-color: #a00;
    }
    &--complete:before {
      content: '\e805';
      color: #aa0;
      border-color: #aa0;
    }

    &:hover:before {
      content: '\e807';
      color: inherit;
      border-color: inherit;
      cursor: pointer;
    }
  }
}

.st2-panel {
  flex: 1;
  position: relative;
  height: 100%;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--hide {
    display: none;
  }

  &__editor {
    z-index: 2;
  }

  &__panel {
    background-color: #272822;
    color: #F8F8F2;
    overflow: auto;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &--active {
      z-index: 3;
    }
  }

  &__header {
    margin: 10px;
    font-size: 20px;
  }

  &__field {
    display: block;

    margin: 15px 0;

    &-name {
      padding: 0 10px;
      color: #bbb;
    }

    &-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      background-color: #272822;
      border: solid #444;
      border-width: 1px 1px 3px;
      outline: 0;
      font-size: 12px;

      &:focus {
        background-color: rgba(0,0,0,0.2);
      }

      select& {
        appearance: none;
        border-radius: 0;
      }

      input[type=checkbox]& {
        display: none;
      }
    }
    input[type=checkbox]&-input ~ &-name {
      user-select: none;
      cursor: pointer;

      &:before {
        content: 'N';
        padding-right: .5em;
        width: 1em;
        display: inline-block;
      }
    }
    input[type=checkbox]&-input:checked ~ &-name {
      &:before {
        content: 'Y';
      }
    }
  }
}

.st2-editor {
  width: 100%;
  height: 100%;

  .ace_gutter {
    display: none;
  }

  &__active-task {
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
  }

  &__active-name {
    position: absolute;
    border: 1px solid aqua;
    box-sizing: border-box;
  }

  &__active-ref {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
  }

  &__active-success {
    position: absolute;
    border: 1px solid green;
    box-sizing: border-box;
  }

  &__active-error {
    position: absolute;
    border: 1px solid red;
    box-sizing: border-box;
  }

  &__active-complete {
    position: absolute;
    border: 1px solid yellow;
    box-sizing: border-box;
  }
}
