@import '../node_modules/normalize.css/normalize.css';
@import '../dist/font/st2flow-embedded.css';
@import '../dist/font/brocadeicons.css';
@import '../dist/font/Roboto.css';

:root {
  /* Brocade color palette */
  --red-lighten-5: #fbefeb;
  --red-lighten-4: #f6ded7;
  --red-lighten-3: #edbdae;
  --red-lighten-2: #e59b86;
  --red-lighten-1: #dc7a5d;
  --red-base: #D35935;
  --red-darken-1: #bd5030;
  --red-darken-2: #a9472a;
  --red-darken-3: #7f3520;
  --red-darken-4: #542415;
  --purple-lighten-5: #f5e9f5;
  --purple-lighten-4: #ead2ea;
  --purple-lighten-3: #d6a5d5;
  --purple-lighten-2: #c177c1;
  --purple-lighten-1: #ad4aac;
  --purple-base: #981d97;
  --purple-darken-1: #891a88;
  --purple-darken-2: #7a1779;
  --purple-darken-3: #5b115b;
  --purple-darken-4: #3d0c3c;
  --blue-lighten-5: #edebf5;
  --blue-lighten-4: #dad6eb;
  --blue-lighten-3: #b4add6;
  --blue-lighten-2: #8f84c2;
  --blue-lighten-1: #695bad;
  --blue-base: #443299;
  --blue-darken-1: #3d2d89;
  --blue-darken-2: #36287a;
  --blue-darken-3: #291e5c;
  --blue-darken-4: #1b143d;
  --grey-lighten-5: #eeeeef;
  --grey-lighten-4: #ddddde;
  --grey-lighten-3: #bbbbbc;
  --grey-lighten-2: #98989b;
  --grey-lighten-1: #767679;
  --grey-base: #545458;
  --grey-darken-1: #4b4b4f;
  --grey-darken-2: #434346;
  --grey-darken-3: #323235;
  --grey-darken-4: #222223;
  --yellow-lighten-5: #fff5e9;
  --yellow-lighten-4: #ffecd1;
  --yellow-lighten-3: #ffd8a4;
  --yellow-lighten-2: #ffc576;
  --yellow-lighten-1: #ffb149;
  --yellow-base: #FF9E1B;
  --yellow-darken-1: #e58e18;
  --yellow-darken-2: #cc7e16;
  --yellow-darken-3: #995f10;
  --yellow-darken-4: #663f0b;
  --aqua-lighten-5: #e6f1f5;
  --aqua-lighten-4: #cce3ea;
  --aqua-lighten-3: #99c7d5;
  --aqua-lighten-2: #66abc0;
  --aqua-lighten-1: #338fab;
  --aqua-base: #007396;
  --aqua-darken-1: #006787;
  --aqua-darken-2: #005c78;
  --aqua-darken-3: #00455a;
  --aqua-darken-4: #002e3c;
  --orange-lighten-5: #fdeeed;
  --orange-lighten-4: #fbdcda;
  --orange-lighten-3: #f7bab5;
  --orange-lighten-2: #f49791;
  --orange-lighten-1: #f0756c;
  --orange-base: #ec5247;
  --orange-darken-1: #d44a40;
  --orange-darken-2: #bd4239;
  --orange-darken-3: #8e312b;
  --orange-darken-4: #5e211c;
  --green-lighten-5: #f0f6ec;
  --green-lighten-4: #dfecd9;
  --green-lighten-3: #c0d9b3;
  --green-lighten-2: #a0c58e;
  --green-lighten-1: #81b268;
  --green-base: #619F42;
  --green-darken-1: #578f3b;
  --green-darken-2: #4e7f35;
  --green-darken-3: #3a5f28;
  --green-darken-4: #27401a;
  --violet-lighten-5: #f6e8f4;
  --violet-lighten-4: #edd1e9;
  --violet-lighten-3: #dba3d3;
  --violet-lighten-2: #c974bc;
  --violet-lighten-1: #b746a6;
  --violet-base: #a51890;
  --violet-darken-1: #941681;
  --violet-darken-2: #841373;
  --violet-darken-3: #630e56;
  --violet-darken-4: #420a3a;
}

html,
body,
.container,
main {
  height: 100%;
  overflow: hidden;
}

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;

  font-family: Dual,Roboto,sans-serif;
}

main {
  display: flex;
  flex-direction: column;

  .& {
    &--loading{
      &:before {
        content: '';

        display: block;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: rgba(0,0,0,0.5);

        z-index: 5;
      }
      &:after {
        content: 'Loading...';

        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

        align-self: center;
        flex: 1;

        text-align: center;
        color: #fff;

        z-index: 6;
      }
    }

    &--collapsed &__content {
      padding: 0;
    }

    &__header {

    }

    &__collapse {
      z-index: 6;
      position: absolute;
      top: 0;
      right: 0;

      width: 25px;
      text-align: center;

      background-color: rgba(0,0,0,.2);
      color: #fff;

      font-size: 16px;
      line-height: 25px;

      padding: 10px 0;

      cursor: pointer;
    }

    &__content {
      display: flex;

      height: 100%;

      position: relative;

      padding-top: 45px;
      box-sizing: border-box;
    }
  }
}

.st2-header {
  z-index: 6;

  display: flex;

  width: 100%;
  height: 45px;

  position: absolute;

  background: linear-gradient(45deg, rgb(189, 80, 48) 0%, rgb(165, 24, 144) 100%) !important;
  color: white;

  font-size: 12px;
  line-height: 25px;

  &__logo {
    width: 120px;

    padding: 10px;
    box-sizing: border-box;

    font-size: 0;
  }

  &__product-title {
    vertical-align: bottom;
    display: inline;
    padding-top: 16px;
    width: 120px;
  }

  &__workflow {
    position: relative;

    margin: 10px 5px;
    padding: 0 5px;

    border: 1px solid #fff;


    white-space: nowrap;

    &--active {
      &::after {
        content: '';
        -moz-transform: scale(.9999); /* Fixes antialiasing in Firefox on OS X */

        position: absolute;
        left: 50%;
        right: 50%;
        top: 45px;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 10px 15px;
        border-color: transparent transparent var(--grey-lighten-5) transparent;
      }
    }
  }

  &__edit {
    padding: 10px 0;

    cursor: pointer;
  }

  &__login {
    padding: 10px;

    text-align: right;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__settings {
    padding: 10px;
    padding-right: 35px;
    box-sizing: border-box;

    cursor: pointer;
  }

  &__separator {
    flex: 1;
  }

  &__source {
    display: none;

    &--visible {
      display: block;
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 100vh;
    }

    &-form {
      color: black;

      padding: 10px;

      z-index: 2;

      position: absolute;
      top: 100%;
      right: 25px;

      width: 240px;
      box-sizing: border-box;

      background-color: var(--grey-lighten-5);
      box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;

      & > *:first-child {
        margin-top: 0;
      }
    }
  }

  .main--collapsed & {
    display: none;
  }
}

.st2-palette {
  width: 240px;
  height: 100%;
  z-index: 1;

  background-color: var(--grey-lighten-5);

  position: relative;

  font-size: 12px;

  &--hide {
    display: none;
  }

  &__search {
    position: absolute;
    top: 0;

    width: 240px;

    padding: 10px;
    box-sizing: border-box;

    &-field[type="search"] {
      width: 100%;
      height: 26px;

      box-sizing: border-box;

      border: 0;
      outline: 0;

      padding: 2px 10px;

      font-size: 12px;

      background-color: white;
      color: black;

      box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;

      &::placeholder {
        color: var(--grey-base);
      }
    }

    &-reset {
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;

      display: block;

      box-sizing: border-box;

      padding: 0 5px;

      font-size: 18px;
      line-height: 27px;

      cursor: pointer;

      color: var(--grey-base);
    }
  }

  &__content {
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    padding-top: 40px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(100, 100, 100, 0.8);
    }

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(100, 100, 100, 0.4);
    }
  }

  &__action {
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;
    user-select: none;
    min-height: 54px;
    margin: 5px;
    border-radius: 5px;

    &:hover {
      background-color: var(--yellow-lighten-5);
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-family: Dual,Roboto,sans-serif;
    }

    &-description {
      font-size: 0.9em;
    }
  }

  &__pack {
    &--collapsed &-content {
      display: none;
    }

    &-header {
      display: flex;
      user-select: none;
      margin: 10px;
      font-family: Dual,Roboto,sans-serif;
      cursor: pointer;

      font-size: 16px;
      line-height: 22px;
    }

    &-icon {
      display: block;
      padding: 5px;
      box-sizing: content-box;
      width: 32px;
      height: 32px;
      background-color: #fff;
      image-rendering: pixelated;
      border-radius: 5px;
      overflow: hidden;

      img:not([src]) {
        display: none;
      }

      &::after {
        content: '\e94d';
        color: #222;

        font-family: "brocadeicons";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 34px;
        text-align: center;

        font-variant: normal;
        text-transform: none;

        line-height: 32px;
        font-size: 32px;

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &-name {
      flex: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px;
    }

    &-toggle {
      padding: 10px 0;
    }
  }

  &__loader {
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  &__error {
    padding: 0 10px;
    text-align: left;

    code {
      display: block;
      margin: 10px;
      padding: 5px;
      border: 1px solid color(#191f23 lightness(+30%));
      border-radius: 5px;
      color: color(#191f23 lightness(+30%));
    }

    p {
      margin: 10px 0;
    }
  }
}

.st2-container {
  flex: 1;

  height: 100%;

  position: relative;
}

.st2-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  user-select: none;

  &__button {
    &-complex {
      display: inline-block;
      position: relative;
    }

    &-complex & {
      z-index: 1;
      position: relative;
    }

    &-badge {
      display: block;
      line-height: 24px;
      background-color: white;
      color: black;
      padding-left: 10px;
      position: absolute;
      top: 10px;
      left: 32px;
      z-index: 0;
      cursor: pointer;
      user-select: none;

      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 24px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: 0 12px 12px 0;
      }

      &--hide {
        display: none;
      }
    }
  }

  &__tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 250px;
    box-sizing: border-box;
    display: none;

    &-content {
      position: absolute;
      top: 5px;
      left: -50%;

      width: 100%;

      background-color: white;
      box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;
      border-radius: 3px;

      &:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        content: '';
        border: solid transparent;
        height: 0;
        width: 0;
        border-color: transparent;
        border-bottom-color: white;
        border-width: 5px;
        margin-left: -5px;
      }
    }

    &--active {
      display: block;
    }

    &--flash {
      display: block;
      visibility: visible;

      animation: flash .2s linear 3s forwards;

      @keyframes flash {
        0% {
          visibility: visible;
        }
        100% {
          visibility: hidden;
        }
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      cursor: pointer;

      &--active {
        position: fixed;
      }
    }

    &-message {
      color: #eee;
      text-align: center;
      font-size: 11px;
      padding: 5px;
    }

    &-item {
      display: block;

      margin: 5px;
      padding: 5px;

      text-decoration: none;

      color: black;
      background-color: var(--grey-lighten-5);

      border-radius: 3px;
    }

    &-button {
      display: block;
      margin: 5px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      font-family: Dual,Roboto,sans-serif;
      font-size: 14px;
      background-color: var(--aqua-base);
      color: white;
    }
  }

  &__execution {
    position: relative;

    &-status {
      position: absolute;
      top: 50%;
      left: 20px;

      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: #777;
      margin: -6px 0 0 -6px;

      &--failed {
        background-color: var(--red-base);
      }

      &--succeeded {
        background-color: var(--green-base);
      }

      &--running {
        animation: breathe 1s ease-in-out infinite alternate;

        @keyframes breathe {
          0% {
            background-color: var(--grey-lighten-1);
            color: white;
          }
          100% {
            background-color: var(--grey-lighten-3);
            color: white;
          }
        }
      }
    }
    &-ref {
      margin-left: 36px;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      display: none;

      font-family: Dual,Roboto,sans-serif;
      font-size: 14px;
    }
    &-timestamp {
      margin-left: 36px;
      font-size: 12px;
    }
  }

  &__center &__button {
    width: 32px;
    line-height: 32px;
    background-color: white;
    color: black;
    margin: 5px;
    border-radius: 16px;
    text-align: center;
    display: inline-block;
    user-select: none;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;

    &--active {
      color: #90d5fc;
    }

    &--succeeded {
      animation: ok .2s linear 3s forwards;
      background-color: var(--green-base);
      color: white;

      @keyframes ok {
        0% {
          background-color: var(--green-base);
          color: white;
        }
        100% {
          background-color: white;
          color: black;
        }
      }
    }

    &--failed {
      animation: fail .2s linear 3s forwards;
      background-color: var(--red-base);

      @keyframes fail {
        0% {
          background-color: var(--red-base);
          color: white;
        }
        100% {
          background-color: white;
          color: black;
        }
      }
    }

    &--running {
      animation: breathe 1s ease-in-out infinite alternate;
    }
  }

  &__left &__button,
  &__right &__button {
    width: 25px;
    line-height: 45px;
    color: black;
    text-align: center;
  }

  &__left &__button {
    background-color: var(--grey-lighten-5);

    &:last-child {
      border-radius: 0 0 3px 0;
    }
  }

  &__right &__button {
    background-color: white;

    &:first-child {
      border-radius: 0 0 0 3px;
    }

    .main--collapsed &.icon-chevron_left {
      margin-right: 25px;
    }
  }
}

.st2-viewer {
  height: 100%;

  background-color: var(--grey-lighten-5);

  position: relative;
  overflow: auto;

  cursor: grab;
  cursor: -webkit-grab;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 1px #90d5fc;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &--grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  & {
    background-color: var(--grey-lighten-5);
    background-image:
      linear-gradient(color(black alpha(.05)) 1px, transparent 1px),
      linear-gradient(90deg, color(black alpha(.05)) 1px, transparent 1px),
      linear-gradient(color(black alpha(.02)) 1px, transparent 1px),
      linear-gradient(90deg, color(black alpha(.02)) 1px, transparent 1px);
    background-size:50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
  }

  &--active {
    background-image:
      linear-gradient(color(black alpha(.2)) 1px, transparent 1px),
      linear-gradient(90deg, color(black alpha(.2)) 1px, transparent 1px),
      linear-gradient(color(black alpha(.1)) 1px, transparent 1px),
      linear-gradient(90deg, color(black alpha(.1)) 1px, transparent 1px);
  }

  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
  }

  &__zoomer {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 0 0;
  }

  &__canvas {
    position: absolute;

    box-sizing: border-box;
  }

  &__node {
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    width: 200px;
    height: 42px;
    border-radius: 3px;
    padding: 5px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;

    -webkit-user-drag: element;

    display: flex;

    & > * {
      pointer-events: none;
    }

    &--selected {
      box-shadow: 0 0 0 1px var(--aqua-base);
    }

    &-icon {
      padding: 5px;
      box-sizing: content-box;
      min-width: 32px;
      max-width: 32px;
      background-color: #fff;
      image-rendering: pixelated;
      border-radius: 3px;
      overflow: hidden;

      img {
        border-radius: 3px;
      }

      img[src=''] {
        display: none;
      }

      &::after {
        content: '\e94d';
        color: #222;

        font-family: "brocadeicons";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 34px;
        text-align: center;

        font-variant: normal;
        text-transform: none;

        line-height: 32px;
        font-size: 32px;

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &-content {
      padding: 2px 10px;
      width: 118px;
    }

    &-actions {
      width: 24px;

      line-height: 21px;
      text-align: center;

      cursor: pointer;

      color: transparent;
    }

    &--selected &-actions {
      color: inherit;
      pointer-events: all;
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: transparent;
      box-sizing: border-box;
      border: 0;
      padding: 3px;
      margin: -3px;
      outline: 0;
      width: 100%;
      color: black;

      &:focus {
        color: #222;
        background: #ddd;
        pointer-events: all;
      }
    }

    &-ref {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Dual,Roboto,sans-serif;
    }

    &-buttons {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      padding: 5px 0;
      text-align: center;
      font-size: 11px;
    }

    &--selected &-buttons,
    &:hover &-buttons {
      pointer-events: all;
      display: block;
    }

    &-button {
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      color: white;
      background-color: black;
      pointer-events: auto;
      height: 1.5em;
      width: 1.5em;

      &:before {
        /* emperically */
        line-height: 1.7em;
      }

      &--success {
        font-weight: bold;
        background-color: var(--green-base);
      }
      &--error {
        font-weight: bold;
        background-color: var(--red-base);
      }
      &--complete {
        font-weight: bold;
        background-color: var(--yellow-base);
      }
    }

    &--active {
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &--dragged {
      /*pointer-events: none;*/
    }

    &-edit,
    &-delete {
      line-height: 21px;
    }
  }

  &__edge {
    pointer-events: none;

    &-path {
      stroke-width: 6px;
      stroke: white;
      fill: none;
    }

    &--complete path {
      stroke: var(--yellow-base);
      fill: var(--yellow-base);
    }

    &--success path {
      stroke: var(--green-base);
      fill: var(--green-base);
    }

    &--error path {
      stroke: var(--red-base);
      fill: var(--red-base);
    }
  }

  &__label {
    position: absolute;

    &:before {
      display: block;

      margin: -50%;
      border-radius: 50%;
      color: white;

      font-family: "brocadeicons";
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      text-align: center;
      speak: none;

      width: 1.5em;
      height: 1.5em;
      line-height: 1.7em;

      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
    }

    &--success:before {
      content: '\e968';
      background-color: var(--green-base);
    }
    &--error:before {
      content: '\e940';
      background-color: var(--red-base);
    }
    &--complete:before {
      content: '\e951';
      background-color: var(--yellow-base);
    }

    &:hover:before {
      content: '\e937';
      color: white;
      border-color: inherit;
      cursor: pointer;
    }
  }
}

.st2-panel {
  flex: 1;
  position: relative;
  height: 100%;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  &--hide {
    display: none;
  }

  &__resizer {
    width: 10px;
    height: 100%;
    position: absolute;
    cursor: col-resize;
    z-index: 3;

    &:hover,
    &--active {
      background-color: color(#000 a(.3));
    }
  }

  &__editor {
    z-index: 2;
  }

  &__panel {
    background-color: #272822;
    color: #F8F8F2;
    overflow: auto;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &--active {
      z-index: 3;
    }
  }

  &__error {
    padding: 10px;

    color: #ff4500;
    border: 1px solid #ff4500;
    border-radius: 4px;

    &:empty {
      display: none;
    }
  }

  &__header {
    margin: 10px 0;
    font-size: 20px;
  }

  &__footer {
    text-align: right;
  }

  &__field {
    display: block;

    margin: 15px 0;

    &-name {
      font-size: 12px;
      font-weight: bold;
      margin: 0 0 5px;
    }

    &-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      background-color: white;
      color: black;
      border: 0;
      outline: 0;
      font-size: 12px;
      border-bottom: 1px solid var(--grey-base);

      &:focus {
        border-bottom: 1px solid var(--aqua-base);
      }

      &:invalid {
        border-bottom: 1px solid var(--red-base);
      }

      &:disabled {
        background-color: rgba(0,0,0,0.2);
        color: #888;
      }

      select& {
        appearance: none;
        border-radius: 0;
        padding: 9px 10px;
      }

      input[type=checkbox]& {
        display: none;
      }

      &::placeholder {
        color: #aaa;
      }

      &--inline {
        display: inline-block;
        width: auto;

        & + & {
          margin-left: 10px;
        }
      }

      &--cancel {
        background-color: #333;
      }
    }
    input[type=checkbox]&-input ~ &-toggle {
      user-select: none;
      cursor: pointer;

      display: flex;
      position: relative;

      width: 80px;

      background-color: #14181D;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;

        width: 50%;

        background-color: #F28037;

        transition: left .3s;
      }
    }
    input[type=checkbox]&-input ~ &-toggle > &-toggle-item {
      flex: 1;
      font-size: 12px;
      padding: 10px;
      color: #eee;
      text-align: center;
      z-index: 2;

      border-radius: 5px;
    }
    input[type=checkbox]&-input:checked ~ &-toggle {
      &:before {
        left: 0;
      }
    }
    input[type=checkbox]&-input ~ &-token {
      /* Token, not toggle */
      cursor: pointer;
      user-select: none;

      box-shadow:
        0 0 0 2px #2C3339,
        0 0 0 3px #404C54,
        0 0 0 5px #2C3339;
    }
    input[type=checkbox]&-input:checked ~ &-token {
      background-color: #90d5fc;
      color: #2C3339;
    }
    textarea&-input {
      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, 0.8);
      }

      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100, 100, 100, 0.4);
      }
    }
    input[type=submit]&-input {
      background-color: #F28037;
      color: #eee;

      &:disabled {
        background-color: #555;
      }
    }
    hr {
      border: 0;
      border-bottom: 1px solid #30373E;
    }
    &-description {
      padding: 5px 0 0;
      font-size: 11px;
    }
    &-select {
      position: relative;

      &:after {
        content: '\e91c';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        font-family: "brocadeicons";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 34px;
        text-align: center;

        font-variant: normal;
        text-transform: none;

        line-height: 36px;

        pointer-events: none;
      }
    }
    &-group {
      display: flex;
      margin: 15px 0;

      &-ref {
        flex: 1;
      }

      &-dot {
        padding: 36px 10px 0;
      }
    }
    &-group & {
      margin: 0;
    }

    &-button {
      background-color: var(--aqua-base);
      border: 0;
      border-radius: 2px;
      line-height: 32px;
      padding: 0 32px;
      color: white;
      outline: 0;
      font-size: 14px;

      &:active {
        background-color: var(--aqua-lighten-2);
      }

      &--positive {
        background-color: var(--green-base);
      }

      & + & {
        margin-left: 10px;
      }
    }
  }

  &__parameter {
    margin-bottom: 10px;
    position: relative;

    &-form {
      padding: 0.1px 10px 10px;
      margin: 10px -10px;
    }

    &-button {
      cursor: pointer;
      margin: 0 5px;
      font-size: 120%;

      &s {
        position: absolute;
        top: 0;
        right: 0;

        font-size: 12px;
      }
    }

    &-name {
      font-size: 12px;
      font-weight: bold;
      margin: 5px 0;
    }

    &-description {
      font-size: 12px;
      margin: 5px 0;
    }

    &-token {
      display: inline-block;
      margin: 0 8px 0 4px;
      padding: 1px 3px;

      font-size: 11px;

      background-color: #2C3339;
      color: #90d5fc;

      border-radius: 1px;

      box-shadow:
        0 0 0 2px #2C3339,
        0 0 0 3px #404C54;

      &s {
        margin: 5px 0;
      }
    }
  }
}

.st2-popup {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  display: none;

  .main--collapsed & {
    top: 0;
  }

  &__center {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rubber {
    height: 100%;

    min-width: 500px;
    max-width: 1600px;
    box-sizing: border-box;

    padding: 30px;

    display: flex;
    justify-content: center;
  }

  &__content {
    background-color: var(--grey-lighten-5);

    display: flex;
    position: relative;

    max-height: 100%;

    border-radius: 5px;

    padding-bottom: 54px;

    box-shadow: rgba(0, 0, 0, .2) 0 4px 18px 0, rgba(0, 0, 0, .2) 0 4px 20px 0;
  }

  &--active {
    display: block;
  }

  &__column {
    padding: 20px 20px 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(100, 100, 100, 0.8);
    }
  }

  &__form {
    padding-top: 10px;
    width: 480px;
  }

  &__code {
    width: 480px;
    white-space: pre;
    background-color: white;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    border-radius: 0 5px 0 5px;
  }

  &__status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px 20px;

    text-align: right;

    &-cancel {
      color: #eee;
      background-color: #14181D;
    }
  }
}

.st2-editor {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  &__active-task {
    position: absolute;
    background-color: var(--yellow-lighten-5);
    box-sizing: border-box;
    border-left: 4px solid var(--yellow-base);
  }

  &__active-name {
    position: absolute;
    border: 1px solid aqua;
    box-sizing: border-box;
  }

  &__active-ref {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
  }

  &__active-success {
    position: absolute;
    border: 1px solid green;
    box-sizing: border-box;
  }

  &__active-error {
    position: absolute;
    border: 1px solid red;
    box-sizing: border-box;
  }

  &__active-complete {
    position: absolute;
    border: 1px solid yellow;
    box-sizing: border-box;
  }

  &__active-yaql {
    position: absolute;
    border: 1px solid purple;
    box-sizing: border-box;
  }

  &__active-yaqlvariable {
    position: absolute;
    background-color: color(red a(10%));
    box-sizing: border-box;
  }
}

/* theme */
.ace-st2.ace_editor {
  background: white;
  color: black;

  .ace_gutter {
    background: transparent;
    color: #333;
    overflow: hidden;
  }
  .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
  }
  .ace_cursor {
    color: black;
  }
  .ace_invisible {
    color: rgb(191, 191, 191);
  }
  .ace_constant.ace_buildin {
    color: rgb(88, 72, 246);
  }
  .ace_constant.ace_language {
    color: rgb(88, 92, 246);
  }
  .ace_constant.ace_library {
    color: rgb(6, 150, 14);
  }
  .ace_invalid {
    background-color: rgb(153, 0, 0);
    color: white;
  }
  .ace_fold {} .ace_support.ace_function {
    color: rgb(60, 76, 114);
  }
  .ace_support.ace_constant {
    color: rgb(6, 150, 14);
  }
  .ace_support.ace_type,
  .ace_support.ace_class .ace_support.ace_other {
    color: rgb(109, 121, 222);
  }
  .ace_variable.ace_parameter {
    font-style: italic;
    color: #FD971F;
  }
  .ace_keyword.ace_operator {
    color: rgb(104, 118, 135);
  }
  .ace_comment {
    color: #236e24;
  }
  .ace_comment.ace_doc {
    color: #236e24;
  }
  .ace_comment.ace_doc.ace_tag {
    color: #236e24;
  }
  .ace_constant.ace_numeric {
    color: rgb(0, 0, 205);
  }
  .ace_variable {
    color: rgb(49, 132, 149);
  }
  .ace_xml-pe {
    color: rgb(104, 104, 91);
  }
  .ace_entity.ace_name.ace_function {
    color: #0000A2;
  }
  .ace_heading {
    color: rgb(12, 7, 255);
  }
  .ace_list {
    color: rgb(185, 6, 144);
  }
  .ace_marker-layer .ace_selection {
    background: rgb(181, 213, 255);
  }
  .ace_marker-layer .ace_step {
    background: rgb(252, 255, 0);
  }
  .ace_marker-layer .ace_stack {
    background: rgb(164, 229, 101);
  }
  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgb(192, 192, 192);
  }
  .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.07);
  }
  .ace_gutter-active-line {
    background-color: #dcdcdc;
  }
  .ace_marker-layer .ace_selected-word {
    background: rgb(250, 250, 255);
    border: 1px solid rgb(200, 200, 250);
  }
  .ace_storage,
  .ace_keyword,
  .ace_meta.ace_tag {
    color: rgb(147, 15, 128);
  }
  .ace_string.ace_regex {
    color: rgb(255, 0, 0)
  }
  .ace_string {
    color: #1A1AA6;
  }
  .ace_entity.ace_other.ace_attribute-name {
    color: #994409;
  }
  .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
  }
}
