@import '../node_modules/normalize.css/normalize.css';

html, body, main {
  height: 100%;
  overflow: hidden;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

main {
  display: flex;
}


.st2-viewer {
  flex: 1;

  height: 100%;

  background-color: #444;

  position: relative;
  overflow: auto;

  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--active {
      box-shadow: inset 0 0 0 5px red;
    }
  }

  &__node {
    cursor: pointer;
    padding: 5px;
    background-color: #191f23;
    color: #eee;
    font-size: 12px;
    position: absolute;
    user-select: none;

    cursor: pointer;

    &-name {
      font-style: italic;
      pointer-events: none;
    }

    &-ref {
      color: #90d5fc;
      pointer-events: none;
    }

    &-buttons {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.5);
      display: none;
      padding: 9px;
    }

    &:hover &-buttons {
      display: block;
    }

    &-button {
      display: inline-block;
      width: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 12px;
      background-color: white;
      color: black;
      pointer-events: auto;

      &-move:after {
        content: 'M'
      }

      &-success:after {
        content: 'S'
      }

      &-error:after {
        content: 'E'
      }
    }

    &--active {
      box-shadow: 0 0 0 1px red;
    }
  }

  &__edge {
    &-path {
      stroke-width: 1.5px;
      stroke: white;
      fill: none;
    }

    &--complete path {
      stroke: #aa0;
      fill: #aa0;
    }

    &--success path {
      stroke: #0a0;
      fill: #0a0;
    }

    &--failure path {
      stroke: #a00;
      fill: #a00;
    }
  }
}

.st2-editor {
  flex: 1;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &__active-task {
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
  }

  &__active-name {
    position: absolute;
    border: 1px solid green;
    box-sizing: border-box;
  }
}
