@import '../node_modules/normalize.css/normalize.css';
@import '../dist/font/st2flow-embedded.css';
@import 'https://fonts.googleapis.com/css?family=Oswald:400,300,700';

html, body, main {
  height: 100%;
  overflow: hidden;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

main {
  display: flex;

  .&--loading{
    &:before {
      content: '';

      display: block;

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: rgba(0,0,0,0.5);

      z-index: 5;
    }
    &:after {
      content: 'Loading...';

      position: absolute;
      top: 50%;
      left: 0;
      right: 0;

      align-self: center;
      flex: 1;

      text-align: center;
      color: #fff;

      z-index: 6;
    }
  }
}


.st2-palette {
  width: 240px;
  max-height: 100%;
  z-index: 1;

  background-color: #23282d;

  overflow: auto;

  position: relative;

  font-size: 12px;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--hide {
    display: none;
  }

  &__search {
    margin: 10px;

    &-field[type="search"] {
      width: 100%;
      height: 26px;

      box-sizing: border-box;

      border-radius: 13px;
      border: 0;
      outline: 0;

      padding: 2px 10px;

      font-size: 12px;

      background-color: #6b8ca3;
      color: #eee;

      &::placeholder {
        color: #23282d;
      }
    }
  }

  &__action {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #363d45;
    color: #90d5fc;
    user-select: none;
    min-height: 54px;
    margin: 5px;
    border-radius: 5px;

    &:hover {
      background-color: color(#191f23 lightness(+10%));
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-family: Oswald;
    }

    &-description {
      font-size: 0.9em;
    }
  }

  &__pack {
    &--collapsed &-content {
      display: none;
    }

    &-header {
      display: flex;
      user-select: none;
      margin: 10px;
      font-family: Oswald;
      cursor: pointer;

      font-size: 16px;
      line-height: 22px;
      color: #fff;
    }

    &-icon {
      display: block;
      padding: 5px;
      box-sizing: content-box;
      width: 32px;
      height: 32px;
      background-color: #fff;
      image-rendering: pixelated;
      border-radius: 5px;

      img:not([src]) {
        display: none;
      }
    }

    &-name {
      flex: 1;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px;
    }

    &-toggle {
      padding: 10px 0;
    }
  }

  &__source-form {
    color: #fff;
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #191f23;

    &--visible {
      display: block;
    }
  }

  &__loader {
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  &__error {
    color: #fff;
    padding: 0 10px;
    text-align: left;

    code {
      display: block;
      margin: 10px;
      padding: 5px;
      border: 1px solid color(#191f23 lightness(+30%));
      border-radius: 5px;
      color: color(#191f23 lightness(+30%));
    }

    p {
      margin: 10px 0;
    }
  }
}

.st2-container {
  flex: 1;

  height: 100%;

  position: relative;
}

.st2-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__center &__button {
    width: 32px;
    line-height: 32px;
    background-color: #596a78;
    color: #d2e2ee;
    margin: 5px;
    border-radius: 16px;
    text-align: center;
    display: inline-block;
    user-select: none;
    cursor: pointer;

    &--active {
      color: #90d5fc;
    }
  }

  &__left &__button,
  &__right &__button {
    line-height: 42px;
    color: #eee;
  }

  &__left &__button {
    background-color: #23282d;

    &:last-child {
      border-radius: 0 0 3px 0;
    }
  }

  &__right &__button {
    background-color: #363d45;

    &:first-child {
      border-radius: 0 0 0 3px;
    }
  }
}

.st2-viewer {
  height: 100%;

  background-color: #444;

  position: relative;
  overflow: auto;

  cursor: grab;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 1px #90d5fc;
  }

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--grabbing {
    cursor: grabbing;
  }

  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
  }

  &__canvas {
    position: absolute;

    padding: 42px 10px 10px;

    box-sizing: border-box;

    & {
      background-color: #fff;
      background-image:
        linear-gradient(color(black alpha(.05)) 1px, transparent 1px),
        linear-gradient(90deg, color(black alpha(.05)) 1px, transparent 1px),
        linear-gradient(color(black alpha(.02)) 1px, transparent 1px),
        linear-gradient(90deg, color(black alpha(.02)) 1px, transparent 1px);
      background-size:50px 50px, 50px 50px, 10px 10px, 10px 10px;
      background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
    }

    &--active {
      background-image:
        linear-gradient(color(black alpha(.2)) 1px, transparent 1px),
        linear-gradient(90deg, color(black alpha(.2)) 1px, transparent 1px),
        linear-gradient(color(black alpha(.1)) 1px, transparent 1px),
        linear-gradient(90deg, color(black alpha(.1)) 1px, transparent 1px);
    }
  }

  &__node {
    cursor: pointer;
    background-color: #23282d;
    color: #222;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    min-width: 140px;
    max-width: 200px;
    height: 42px;
    border-radius: 3px;
    padding: 5px;
    z-index: 1;

    display: flex;

    & > * {
      pointer-events: none;
    }

    &--selected {
      background-color: #8b939b;
      color: #eee;
    }

    &-icon {
      padding: 5px;
      box-sizing: content-box;
      width: 32px;
      background-color: #fff;
      image-rendering: pixelated;
      border-radius: 3px;

      img {
        border-radius: 3px;
      }

      img:not([src]) {
        display: none;
      }
    }

    &-content {
      flex: 1;
      padding: 2px 10px;
    }

    &-actions {
      width: 24px;

      line-height: 21px;
      text-align: center;

      cursor: pointer;

      color: transparent;
    }

    &--selected &-actions {
      color: inherit;
      pointer-events: all;
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: transparent;
      box-sizing: border-box;
      border: 0;
      padding: 3px;
      margin: -3px;
      outline: 0;
      width: 100%;
      color: #eee;

      &:focus {
        background: #ddd;
      }
    }

    &--selected &-name {
      color: #eee;

      &:focus {
        /* specificity */
        color: #222;
      }
    }

    &-ref {
      color: #90d5fc;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Oswald;
    }

    &--selected &-ref {
      color: white;
    }

    &-buttons {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      padding: 5px 0;
      text-align: center;
      font-size: 11px;
    }

    &--selected &-buttons,
    &:hover &-buttons {
      pointer-events: all;
      display: block;
    }

    &-button {
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      color: white;
      background-color: black;
      pointer-events: auto;
      height: 1.5em;
      width: 1.5em;

      &:before {
        /* emperically */
        line-height: 1.7em;
      }

      &.st2-icon__success {
        background-color: #0a0;
      }
      &.st2-icon__error {
        background-color: #a00;
      }
      &.st2-icon__complete {
        background-color: #aa0;
      }
    }

    &--active {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
    }

    &--dragged {
      /*pointer-events: none;*/
    }
  }

  &__edge {
    &-path {
      stroke-width: 6px;
      stroke: white;
      fill: none;
    }

    &--complete path {
      stroke: #aa0;
      fill: #aa0;
    }

    &--success path {
      stroke: #0a0;
      fill: #0a0;
    }

    &--error path {
      stroke: #a00;
      fill: #a00;
    }
  }

  &__label {
    position: absolute;

    &:before {
      display: block;

      margin: -50%;
      border-radius: 50%;
      color: white;

      font-family: "st2flow";
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      text-align: center;
      speak: none;

      width: 1.5em;
      height: 1.5em;
      line-height: 1.7em;

      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
    }

    &--success:before {
      content: '\e803';
      background-color: #0a0;
    }
    &--error:before {
      content: '\e804';
      background-color: #a00;
    }
    &--complete:before {
      content: '\e805';
      background-color: #aa0;
    }

    &:hover:before {
      content: '\e807';
      color: white;
      border-color: inherit;
      cursor: pointer;
    }
  }
}

.st2-panel {
  flex: 1;
  position: relative;
  height: 100%;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
  }

  &--hide {
    display: none;
  }

  &__editor {
    z-index: 2;
  }

  &__panel {
    background-color: #272822;
    color: #F8F8F2;
    overflow: auto;
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &--active {
      z-index: 3;
    }
  }

  &__header {
    margin: 10px;
    font-size: 20px;
  }

  &__field {
    display: block;

    margin: 15px 0;

    &-name {
      padding: 0 10px;
      color: #bbb;
    }

    &-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      background-color: #272822;
      border: solid #444;
      border-width: 1px 1px 3px;
      outline: 0;
      font-size: 12px;

      &:focus {
        background-color: rgba(0,0,0,0.2);
      }

      &:invalid {
        border-color: red;
      }

      select& {
        appearance: none;
        border-radius: 0;
      }

      input[type=checkbox]& {
        display: none;
      }
    }
    input[type=checkbox]&-input ~ &-name {
      user-select: none;
      cursor: pointer;

      &:before {
        content: 'N';
        padding-right: .5em;
        width: 1em;
        display: inline-block;
      }
    }
    input[type=checkbox]&-input:checked ~ &-name {
      &:before {
        content: 'Y';
      }
    }
  }
}

.st2-editor {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  &__active-task {
    position: absolute;
    background-color: #5d6874;
    box-sizing: border-box;
    border-left: 4px solid #e4b741;
  }

  &__active-name {
    position: absolute;
    border: 1px solid aqua;
    box-sizing: border-box;
  }

  &__active-ref {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
  }

  &__active-success {
    position: absolute;
    border: 1px solid green;
    box-sizing: border-box;
  }

  &__active-error {
    position: absolute;
    border: 1px solid red;
    box-sizing: border-box;
  }

  &__active-complete {
    position: absolute;
    border: 1px solid yellow;
    box-sizing: border-box;
  }

  &__active-yaql {
    position: absolute;
    border: 1px solid purple;
    box-sizing: border-box;
  }
}

/* theme */
.ace-st2.ace_editor {
  .ace_gutter {
    background: transparent;
    color: color(#90d5fc s(50%));
  }
  .ace_print-margin {
    width: 1px;
    background: #555651;
  }
  & {
    background-color: #363d45;
    color: #F8F8F2;
  }
  .ace_cursor {
    color: #F8F8F0;
  }
  &.ace_autocomplete {
    background-color: #363d45;
    color: #90d5fc;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.4);

    .ace_completion-highlight {
      color: #F8F8F2;
    }

    .ace_marker-layer {
      .ace_active-line {
        background-color: #202020;
      }

      .ace_line-hover {
        background-color: #202020;
        border: 0;
        margin: 0;
      }
    }
  }
  .ace_marker-layer .ace_selection {
    background: color(#363d45 lightness(+10%));
  }
  .ace-monokai.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #272822;
    border-radius: 2px;
  }
  .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0);
  }
  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #49483E;
  }
  .ace_marker-layer .ace_active-line {
    background: #202020;
  }
  .ace_gutter-active-line {
    background-color: #272727;
  }
  .ace_marker-layer .ace_selected-word {
    border: 1px solid #49483E;
  }
  .ace_invisible {
    color: #52524d;
  }
  .ace_entity.ace_name.ace_tag,
  .ace_keyword,
  .ace_meta.ace_tag,
  .ace_storage {
    color: #90d5fc;
  }
  .ace_punctuation,
  .ace_punctuation.ace_tag {
    color: #fff;
  }
  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_constant.ace_other {
    color: #AE81FF;
  }
  .ace_invalid {
    color: #F8F8F0;
    background-color: #F92672;
  }
  .ace_invalid.ace_deprecated {
    color: #F8F8F0;
    background-color: #AE81FF;
  }
  .ace_support.ace_constant,
  .ace_support.ace_function {
    color: #66D9EF;
  }
  .ace_fold {
    background-color: #A6E22E;
    border-color: #F8F8F2;
  }
  .ace_storage.ace_type,
  .ace_support.ace_class,
  .ace_support.ace_type {
    font-style: italic;
    color: #66D9EF;
  }
  .ace_entity.ace_name.ace_function,
  .ace_entity.ace_other,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_variable {
    color: #A6E22E;
  }
  .ace_variable.ace_parameter {
  font-style: italic;
    color: #FD971F;
  }
  .ace_string {
    color: #E6DB74;
  }
  .ace_comment {
    color: #75715E;
  }
  .ace_indent-guide {}
}
