{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "babel-plugin-transform-flow-strip-types"
  ],
  "presets": [
    "env"
  ]
}
