@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../font/Roboto-300.eot');
  src: url('../font/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('../font/Roboto-300.woff2') format('woff2'),
       url('../font/Roboto-300.woff') format('woff'),
       url('../font/Roboto-300.ttf') format('truetype'),
       url('../font/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('../font/Roboto-500.eot');
  src: url('../font/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../font/Roboto-500.woff2') format('woff2'),
       url('../font/Roboto-500.woff') format('woff'),
       url('../font/Roboto-500.ttf') format('truetype'),
       url('../font/Roboto-500.svg#Roboto') format('svg');
}
