Source: st2flow
Section: unknown
Priority: optional
Maintainer: Extreme Networks <support@extremenetworks.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://www.extremenetworks.com/product/workflow-composer/

Package: st2flow
Architecture: any
Pre-Depends: dpkg (>= 1.16.16), perl, st2web
Depends: perl, st2web
Description: Extreme Workflow Designer
 Workflow Designer is an HTML5-based graphical tool for managing workflows. Using a web browser,
 users can quickly create new workflows and modify existing ones.
 .
 Workflow Designer provides a graphical representation of the workflow, side-by-side with the
 underlying code. Users can quickly add new actions to the workflow, and connect them together.
 Updates to the graphical workflow are immediately reflected in the code, and vice-versa.
