@import "@stackstorm/st2-style/colors.css";

.component {
	display: flex;
	min-height: 45px;
	color: white;
	background: linear-gradient(45deg, var(--purple-darken-4) 0%, var(--purple-base) 100%);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
	display: flex;
	box-sizing: border-box;
	margin: 12px 10px;
	height: 21px;
	padding-top: 10px;
	padding-left: 110px;
	white-space: nowrap;
	background-image: url(../img/logo-extreme.svg);
	background-repeat: no-repeat;

	&:link {
		color: var(--gray-lightest);
	}
}

.title {
	display: flex;
	flex-grow: 1;
	font-size: inherit;
	align-items: center;
	justify-content: center;
}
