:root {
  --token-color: #eee;
}

.component {
  grid-area: details;

  height: 100%;

  display: flex;
  flex-direction: column;
}

.toolbar {
  background-color: #444;

  color: #bbb;

  display: flex;

  &.secondary {
    Background-color: #d8d8d8;
    color: #888;
  }
}

.toolbar-button {
  padding: 15px;
  
  font-size: 20px;

  cursor: pointer;

  &.selected {
    background-color: #333;
    color: #ff921a;
  }
}

.code {
  margin: 10px;
  padding: 4px;

  margin-left: auto;

  border: 1px solid #888;
  border-radius: 3px;
  
  min-width: 23px;
  
  text-align: center;

  &.selected {
    background-color: #ff921a;
    border-color: #ff921a;
    color: #444;
  }
}

.panel {
  background-color: #f8f8f8;
  padding: 20px;

  overflow: auto;

  flex: 1;
}

.taskPanel {
  padding: 10px;
}

.task {
  padding: 10px;

  border-bottom: 1px solid #ccc;
}


.parameter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin: 10px 0;
}

.parameter-buttons {
  float: right;
}

.parameter-button {
  padding: 5px;

  cursor: pointer;
}

.parameter-name {
  font-weight: bold;
  margin: 5px;
}

.parameter-description {
  margin: 5px;
}

.parameter-tokens {
  margin: -5px;
}

.parameter-token {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #888;

  padding: 4px;
  margin: 5px;

  display: inline-block;

  border-radius: 2px;

  &.active {
    background-color: #ccc;
    color: white
  }
}
